<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <small>© 2018 Copyright 10.k &lt;danielhist@gmail.com&gt;</small>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
