<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <small>© 2018 Copyright dezmil.com.br</small>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
